{% extends 'base.html'%}
{% block title %}
ABOUT
{% endblock %}
{% block body %}
<div id="slidshow">
    <div class="contener">
        <div class="slidshow-contener">
            <p>The Easiest Way to Book the Best Doctors in Saudi Arabia​</p>
            <br>
            <h3><span class="text-primary">book online now </span> <i class="fas fa-phone-alt fa-1x"></i> 29000058</h3>
        </div>
    </div>

</div>

<section id="testimonials" class="py-3">

    <div class="contener">

        <div id="testimonials" class="py-3">
                <div class="person1">
                    <img src="../static/img/d.1.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consectetur officia rem facere, recusandae non expedita.
                        Ipsa, incidunt nesciunt!
                        Nostrum, dicta!</p>
                </div>



                <div class="person2">
                    <img src="../static/img/d.2.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consectetur officia rem facere, recusandae non expedita.
                        Ipsa, incidunt nesciunt!
                        Nostrum, dicta!</p>
                </div>

                <div class="person3">
                    <img src="../static/img/d.3.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consectetur officia rem facere, recusandae non expedita.
                        Ipsa, incidunt nesciunt!
                        Nostrum, dicta!</p>
                </div>
            </div>
</section>

{% endblock %}