<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/8ee29b00f3.js"></script>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">

    <title>{% block tilte%}{% endblock %}</title>
</head>
<body>
    <nav id="navbar">

        <div class="contener">

             <h1><a href="{% url 'home_english' %}"><span class="text-primary">Vezeeta.Saudi</span></a></h1>
         <ul>
                <li><a href="{% url 'about'%}">About Us</a></li>
             <li><a class="current" href="{% url 'contact'%}">Contact Us</a></li>
             {% if not user.is_authenticated %}
             <li><a href="{% url 'login'%}">Login</a></li>
             <li><a href="{% url 'signup'%}">SignUp</a></li>
             {% else %}

             <li><a href="{% url 'logout'%}">LogOut</a></li>
             {% endif%}
             <li><a href="{%url 'home_arabic'%}">العربية</a></li>
         </ul>
         </div>
     </nav>
     {% block body %}{% endblock %}
     <footer id="main-footer" class="clr"> 
        <p> Vezeeta - Saudi Arabia​ &copy; 2019 all right reserved</p>
    </footer>
</body>
</html>