{% extends 'base.html'%}
{% block title %}
CONTACT US
{% endblock %}
{% block body %}
<div id="backgroundcolor">


  <div id="container">

      <div class="signup">
    <form action="" method="POST">
      {% csrf_token%}
      {{form.as_p}}
      <input type="submit" value="Send" class="btn">
    </form>


  </div>
</div>

  <section id="infocontact">

    <h4>Call Us :</h4>
    <h4>frome Saudi</h4>
    <h5><i class="fas fa-phone-alt fa-1x"></i> 29000058</h5>

    <h4>Address :</h4>
    <h4>The Eastem Ring Road ST,Gate 8,Offic number 19</h4>

    <h4>Mail Us :</h4>
    <h4>vezetaa-xx@gmail.com</h4>

    <h4>Follow Us :</h4>
    <h4><i class="fab fa-facebook-square fa-2x"></i> <i class="fab fa-twitter fa-2x"></i></h4>

  </section>



  {% endblock %}