{% extends 'base.html'%}
{% block title %}
HOME ARABIC 
{% endblock %}
   {% block body %}
     <div id="slidshow">
        <div class="contener">
        <div class="slidshow-contener">
            <p>اسهل طريقة للحجز لدى افضل الاطباء في ​السعودية</p>
             <br>
            <h3><span class="text-primary">احجز موعدك اونلاين مجاناً </span> <i class="fas fa-phone-alt fa-1x"></i> 29000058</h3>
        </div>
     </div>
    </div>
    <div id="home">
            <div class="home-img">
            </div>
              <div class="home-content">
               <h1><span class="text-primary">ابدأ</span></h1>
              <p>ابحث عن طبيبك الان  </p>
              <p>---------------------------</p>
              <button ><a href="search.html" > بحث </a></button>
          </div>
          </div>

    <div id="features">
            <div class="box ">
                    <i class="far fa-calendar-alt fa-3x"></i>
                    <h1>3-احجز موعدك </h1>
                    <p>بدون المشاكل المعتادة ومع افضل واقرب دكتور لك</p>
                </div>
           
            <div class="box ">
                <i class="fas fa-user-md fa-3x"></i>
                 <h1>2-قارن و اختار </h1>
                 <p>بحسب تقييمات المرضى الآخرين</p>
             </div>
             <div class="box ">
                    <i class="fas fa-search-location fa-3x"></i>
                   <h1>1-ابحث </h1>
                   <p>بالتخصص و الحي و سعر الكشف</p>
               </div>
        </div>

    {% endblock%}