{% extends 'base.html'%}
{% block title %}
HOME ENGLISH 
{% endblock %}
   {% block body %}

      
     <div id="slidshow">
        <div class="contener">
        <div class="slidshow-contener">
            <p>The Easiest Way to Book the Best Doctors in Saudi Arabia​</p>
             <br>
            <h3><span class="text-primary">book online now </span> <i class="fas fa-phone-alt fa-1x"></i> 29000058</h3>
        </div>
     </div>
    </div>
    <div id="home">
            <div class="home-img">
            </div>
              <div class="home-content">
               <h1><span class="text-primary">Start</span></h1>
              <p>lookin for your doctor now </p>
              <p>---------------------------</p>
              <p>Please login to search about your Doctor</p>
              <!-- <button class="btnsave"><a href="{% url 'search'%}"> Search </a></button> -->
          </div>
          </div>

    <div id="features">
            <div class="box ">
                 <i class="fas fa-search-location fa-3x"></i>
                <h1>1-search </h1>
                <p>By Specialty, area,doctor name.</p>
            </div>
            <div class="box ">
                <i class="fas fa-user-md fa-3x"></i>
                 <h1>2-compare & choose </h1>
                 <p>Based on real patients reviews.</p>
             </div>
             <div class="box ">
                     <i class="far fa-calendar-alt fa-3x"></i>
                     <h1>3-your appointment </h1>
                     <p>Pay at the clinic at no extra cost.</p>
                 </div>
        </div>

    
{% endblock %}