{% extends 'base.html'%}
{% block title %}
SEARCH RESULT
{% endblock %}
   {% block body %}

             
        <!-- <div class="clr"></div>
        
                <h3 id="heading1"> search by doctor name :</h3>

                <section id="contact" class="by-3">
                        
                         <form action="#">
                             <div class="form-group">
                                 <label for="name">Doctor Name</label>
                                 <input type="text" name="name" id="name">
                             </div>
                             <h3> OR </h3>

                             <div class="form-group">
                                    <label for="Specialty"> Choose Specialty </label>
                                    <input type="text" name="Specialty" id="Specialty">
                                </div>

                             <div class="form-group">
                                  <label for="city"> Choose City </label>
                                  <input type="text" name="city" id="city">
                              </div>

                              <div class="form-group">
                                    <label for="neighborhood"> Choose neighborhood </label>
                                    <input type="text" name="neighborhood" id="neighborhood"> 
                                  </div>

                                  <button class="but2"><a href="about.html">Search </a> </button>
                         </form>
                        
                    </section>  -->
          

                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token%}
                        
                        {{form_search.as_p}}
                        <a href="{% url 'search_result'%}">Search</a>
                        <input type="submit" value="Search" class="btn" >
                      </form>

                      
      {% endblock %}