<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/8ee29b00f3.js"></script>
        <link rel="stylesheet" href="style.css">
    <title>search</title>
</head>
<style>
    h3{
      text-align: center;
    }
    
</style>
<body>
        <nav id="navbar">

                <div class="contener">
        
                     <h1><a href="home.html"><span class="text-primary">Vezeeta.Saudi</span></a></h1>
                 <ul>
                        <li><a href="about.html"> For Doctors</a></li>
                     <li><a class="current" href="contactUs.html">Contact Us</a></li>
                     <li><a href="homeArabic.html">العربية</a></li>
                     <li><a href="login.html">Login</a></li>
                 </ul>
                 </div>
             </nav>


             
        <div class="clr"></div>
        
                <h3 id="heading1"> search by doctor name :</h3>

                <section id="contact" class="by-3">
                        
                         <form action="#">
                             <div class="form-group">
                                 <label for="name">Doctor Name</label>
                                 <input type="text" name="name" id="name">
                             </div>
                             <h3> OR </h3>

                             <div class="form-group">
                                    <label for="Specialty"> Choose Specialty </label>
                                    <input type="text" name="Specialty" id="Specialty">
                                </div>

                             <div class="form-group">
                                  <label for="city"> Choose City </label>
                                  <input type="text" name="city" id="city">
                              </div>

                              <div class="form-group">
                                    <label for="neighborhood"> Choose neighborhood </label>
                                    <input type="text" name="neighborhood" id="neighborhood"> 
                                  </div>

                                  <button class="but2"><a href="about.html">Search </a> </button>
                         </form>
                        
                    </section> 
          


             
        <footer id="main-footer" class="clr"> 
                <p> Vezeeta - Saudi Arabia​ &copy; 2019 all right reserved</p>
            </footer>

</body>
</html>